### Importando pacotes e dataset

In [7]:
import os

import matplotlib.pyplot as plt
import earthpy as et
import numpy as np

import pandas as pd

df = pd.read_csv('83377.csv')

df.head()

,Unnamed: 0,Estacao,Data,Hora,Precipitacao,TempBulboSeco,TempBulboUmido,TempMaxima,TempMinima,UmidadeRelativa,...,PressaoAtmMar,DirecaoVento,VelocidadeVento,Insolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Unnamed: 19
0,12132121,83377,21/08/1961,0,NaN,22.6,14.1,27.9,NaN,36.0,...,NaN,NaN,NaN,10.0,NaN,NaN,22.14,36.25,1.366667,NaN
1,12132122,83377,21/08/1961,1200,NaN,23.8,15.2,NaN,13.8,37.0,...,NaN,9.0,1.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,12132123,83377,21/08/1961,1800,NaN,24.2,15.4,NaN,NaN,36.0,...,NaN,14.0,2.6,NaN,7.0,NaN,NaN,NaN,NaN,NaN
3,12132124,83377,22/08/1961,0,NaN,22.6,14.1,29.7,NaN,36.0,...,NaN,0.0,0.0,9.4,5.0,NaN,23.52,28.25,1.033333,NaN
4,12132125,83377,22/08/1961,1200,0.0,24.8,14.6,NaN,13.9,30.0,...,NaN,14.0,2.1,NaN,4.0,NaN,NaN,NaN,NaN,NaN